.mesmaLinha{
 display:inline;
}

/*Para computador ou tablet*/
@media (min-width: 989px) {

    /*Página inicial*/
    .perfil-inicio{
        width:100%;
        display:flex;
        flex-direction:row;
    }

    .texto-sobre{
     flex:3;
     border-style: groove;
     border-width:1px;
     border-color: grey;
 }

 .perfil-linkedin{
     flex:2;
     text-align:right;
 }

 /*Página de contatos*/

 .pagina-contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.componentes-mensagem{
    flex: 6;
    align-items: center;
    justify-content: center;
}

.redes-sociais{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
}

.titulo-redes-sociais{
    flex: 1;
    margin-bottom: -10px;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.icones-redes-sociais{
    flex: 2;
    display: flex;
    flex-direction:row;
    width: 40%;
}

.icone-rede-social{
    padding: 25%;
    flex: 1;
}

.lattes{
    border-radius: 15%;
}

}

/*Para celular (retrato)*/
@media (max-width: 989px) and (orientation:portrait){

    html, body{
        height: 100%;
        padding-top: 0px;
    }

    .subheading{
        margin-top: 10px;
        text-align: center;
    }

    /*Página inicial*/
    h2.mb-0{
        font-size: 41px;
    }


    .perfil-inicio{
        width:100%;
        display:flex;
        flex-direction:column;
    }

    .perfil-linkedin {    
        flex:1; 
        margin-top:25px;
        width:100%;
        text-align: center;
        /*background-color: #0D5B05;*/
    }

    .perfil-inicio{
        flex: 1;
        width: 100%;
    }

    /*Página de contatos*/

    h2.mb-4{
        font-size: 41px;
        text-align: center;
        margin-bottom: 25px;
    }

    .pagina-contatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .componentes-mensagem{
        flex: 7;
        align-items: center;
        justify-content: center;
        width: 200%;
    }

    .tabela-contato{
        margin-left: 0px;
        width: 80%;
        height: 40%;
    }

    .redes-sociais{
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200%;
    }

    .titulo-redes-sociais{
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .icones-redes-sociais{
        flex: 2;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }

    .icone-rede-social{
        padding: 25%;
        flex: 1;
    }
}

/*Para celular paisagem*/
@media (max-width: 989px) and (orientation:landscape){

    html, body{
        height: 100%;
        padding-top: 0px;
    }

    .subheading{
        margin-top: 10px;
        text-align: center;
    }

    h2.mb-0{
        font-size: 41px;
        text-align: center;
        margin-bottom: 25px;
    }

    .perfil-inicio{
        width:100%;
        display:flex;
        flex-direction:row;
        position: relative;
        width: 65%;
        margin-right: 10px;
    }

    .perfil-linkedin {    
        position:relative;
        width:35%;
        float: right;

        /*background-color: #0D5B05;*/
    }

    /*Página de contatos*/

    h2.mb-4{
        font-size: 41px;
        text-align: center;
        margin-bottom: 25px;
    }

    .pagina-contatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200%;

    }

    .componentes-mensagem{
        flex: 7;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .tabela-contato{
        margin-left: 0px;
        width: 80%;
        height: 40%;
    }

    .redes-sociais{
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .titulo-redes-sociais{
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .icones-redes-sociais{
        flex: 2;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }

    .icone-rede-social{
        padding: 25%;
        flex: 1;
    }

}

/*Alto contraste*/

/*Fundo preto*/

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

/*Texto branco*/

.contrast font,
.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

/*Links amarelos*/

.contrast a{
    color: yellow !important;
}

.contrast .email-home{
    color: yellow !important;
}

.contrast table{
    background: white !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

/*Imagens*/

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

/*Formulários*/

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.img-whats:hover {
    cursor: pointer;
}
